{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "camelcase": 1,
    "curly": 2,
    "brace-style": [2, "1tbs"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "space-infix-ops": 2,
    "space-after-keywords": [2, "always"],
    "dot-notation": 2,
    "eqeqeq": [2, "smart"],
    "yoda": 2,
    "no-use-before-define": 2,
    "no-redeclare": 2,
    "no-inner-declarations": [2, "both"],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "after-used"
    }],
    "no-floating-decimal": 2,
    "no-spaced-func": 2,
    "no-extra-parens": [2, "all"],
    "no-warning-comments": [1, {
      "terms": ["todo", "fix", "related", "fixme", "xxx", "bug"],
      "location": "anywhere"
    }],
    "strict": [2, "global"],
    "no-cond-assign": [2, "except-parens"]
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "mocha": true,
    "es6": true
  }
}
